html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #fff;
}

header {
    grid-area: h;
}

main {
    background-color: blue;
    grid-area: m;
}

aside {
    grid-area: a;
}

footer {
    grid-area: f;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 40vh 30vh 10vh;
    grid-gap: 0px;
    grid-template-areas: "h" 
                         "a"
                         "m"
                         "f";
}

.grid {
    display: grid;
}

.justify-center {
    justify-self: center;
}

.align-center {
    align-self: center;
}

.titulo {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 48px;
}

.footer {
    font-family: 'Bellota', cursive;
    font-weight: lighter;
    font-size: smaller;
}

.text-red {
    color: red;
}

/* .horizontal-scroll-wrapper{
    display: flex;
    margin:0;
    overflow-y:hidden;
    overflow-x:auto;
} */

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}